:root {
  --color_text: #a0a3a7;
  --bg-color-text: #f26b38;
  --smooth: all 0.3s ease-in;
}

.films {
  padding: 0px 20px;
}

.type_films {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color_text);
  color: var(--color_text);
}

.type_films .show {
  color: var(--bg-color-text);
  animation-name: none !important;
}

.type_films .show::after {
  opacity: 1;
}

/* .type_films p:nth-child(even) {
  padding: 0px 20px;
} */

.type_films p {
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--smooth);
  position: relative;
  padding-right: 20px;
  margin-right: 10px;
}

.type_films p:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--bg-color-text);
  position: absolute;
  bottom: -10px;
  opacity: 0;
  left: 0;
}

.type_films p:hover {
  /* padding-bottom: 20px; */
  /* border-bottom: 2px solid blue; */
  color: var(--bg-color-text);

  /* transition: var(--smooth);
  border-bottom: 2px solid var(--bg-color-text); */
}

.type_films p:hover::after {
  opacity: 1;
  transition: var(--smooth);
  padding: 0px;
}

/* .type_films p:hover ~ .type_films p:after {
  opacity: 1;
} */
/* .type_films p:hover .type_films p::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
} */

@media (min-width: 62em) {
  .type_films p:after {
    bottom: -11px;
  }
}

/* List-film */

.listFilm {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.film_container {
  width: 45%;
  position: relative;
  animation-name: animationFilm;
  animation-duration: 2s;
}

@keyframes animationFilm {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.film_item {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.film_item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.film_item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.film_item p:nth-child(even) {
  color: var(--color_text);
}

.layer {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  height: 150px;
  position: absolute;
  top: 0;
  cursor: pointer;
  display: none;
  transition: var(--smooth);
  z-index: 10;
  color: white;
}

.film_item:hover > .layer {
  transition: var(--smooth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layer p {
  background-color: var(--bg-color-text);
  padding: 6px;
  color: white !important;
}

.btn {
  padding: 10px 20px;
  margin-top: 20px;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  transition: var(--smooth);
}

.layer button:hover {
  border: 1px solid var(--bg-color-text);
  background-color: var(--bg-color-text);
}

.show_more {
  display: flex;
  justify-content: flex-end;
}

.btn_viewmore {
  border: 1px solid var(--bg-color-text);
  color: var(--bg-color-text);
  margin-bottom: 20px;
  margin-top: 0 !important;
}

.btn_viewmore:hover {
  background-color: var(--bg-color-text);
  color: white;
}

@media (min-width: 62em) {
  .film_container {
    width: 30%;
  }

  .film_item img {
    height: 200px;
  }

  .layer {
    height: 200px;
  }
}
